<div class="form" ng-class="{ 'loading': loading }">

    <form>
        <fieldset>
            <legend>
                Enter at least 3 numbers like: 1,2,3,4
            </legend>
            <textarea placeholder="enter data" ng-model="dataset" ng-disabled="loading"></textarea>
            <button
                    ng-disabled="loading"
                    ng-click="analyze()">
                Analyze
            </button>
        </fieldset>
    </form>

    <span class="throbber"></span>

</div>