<div class="authorization">

    <div class="tabs">
        <span class="auth_link" ng-click="switchMode()" ng-show="mode.signin">Click here to sign up</span>
        <span class="auth_link" ng-click="switchMode()" ng-show="mode.signup">Click here to sign in</span>
    </div><br><br>

    <form>
        <fieldset>

            <legend ng-show="mode.signup">
                Sign up
            </legend>

            <legend ng-show="mode.signin">
                Sign in
            </legend>

            <input type="text" placeholder="login" ng-model="login">

            <input type="password" placeholder="password" ng-model="password">

            <button
                    ng-show="mode.signup"
                    ng-click="signUp()">
                Sign up
            </button>

            <button
                    ng-show="mode.signin"
                    ng-click="signIn()">
                Sign in
            </button>

        </fieldset>
    </form>
</div>