<div class="homepage">

    <div class="header">
        <h1 class="page-title">
            Datasets analysis
        </h1>
        <button>
            Sign out
        </button>

    </div>
    <div class="content">

        <div class="form" ng-class="{ 'loading': loading }">
            <form>
                <fieldset>
                    <legend>
                        Input numbers 1,2,3,4,5,6 or smth like that
                    </legend>
                 <textarea placeholder="enter data" ng-model="dataset" ng-disabled="loading">

                 </textarea>
                    <button
                            ng-disabled="loading"
                            ng-click="analyze()">
                        Analyze
                    </button>
                </fieldset>
            </form>
            <button>
                Correlation
            </button>

            <span class="throbber"></span>

        </div>

        <div class="results">

            <h2>
                Results
            </h2>
            <div>
                <p>Average: {{ results.average }} </p>
                <p>Min: {{ results.min }} </p>
                <p>Max: {{ results.max }} </p>
                <p>Q1: {{ results.q1 }} </p>
                <p>Median: {{ results.median }} </p>
                <p>Q3: {{ results.q3 }} </p>
                <p>Outliers: {{ results.outliers }} </p>
            </div>

        </div>

    </div>

</div>