<div class="homepage">

    <div class="header">
        <h1 class="page-title">
            Datasets analysis
        </h1>
        <button>
            Sign out
        </button>

    </div>

    <div class="content">

        <div class="form">
            <form>
                <fieldset>
                    <legend>
                        Input numbers 1,2,3,4,5,6 or smth like that
                    </legend>
                 <textarea>
                     Enter dataset here
                 </textarea>
                    <button>
                        Analyze
                    </button>
                </fieldset>
            </form>
            <button>
                Correlation
            </button>

        </div>

        <div class="results">

            <h2>
                Results
            </h2>
            <div>
                <p>Average: </p>
                <p>Min: </p>
                <p>Max: </p>
                <p>Q1: </p>
                <p>Median: </p>
                <p>Q3: </p>
                <p>Outliers: </p>
            </div>

        </div>

    </div>

</div>