<div class="homepage">

    <div class="header">
        <h1 class="page-title">
            Datasets analysis
        </h1>
        <button ng-click="logOut()" ng-show="!isUnauthorized()">
            Log out
        </button>

    </div>
    <div class="content">

        <div class="authorization" ng-show="isUnauthorized()">

            <div class="tabs">
                <span>Sign up</span>
                <span>Sign in</span>
            </div>

            <form>
                <fieldset>
                    <legend>
                        Sign up
                    </legend>
                    <input type="text" placeholder="login" ng-model="login">
                    <input type="password" placeholder="password" ng-model="password">
                    <button
                        ng-disabled=""
                        ng-click="signUp()">
                        Sign up
                    </button>
                    <button
                            ng-disabled=""
                            ng-click="signIn()">
                        Sign in
                    </button>
                </fieldset>
            </form>
        </div>

        <div class="form" ng-class="{ 'loading': loading }" ng-show="!isUnauthorized() && analyzeMode">

            <form>
                <fieldset>
                    <legend>
                        Input numbers 1,2,3,4,5,6 or smth like that
                    </legend>
                    <textarea placeholder="enter data" ng-model="dataset" ng-disabled="loading"></textarea>
                    <button
                            ng-disabled="loading"
                            ng-click="analyze()">
                        Analyze
                    </button>
                </fieldset>
            </form>
            <button ng-click="enableCorrelationMode()" ng-show="analyzeMode">
                Correlation check
            </button>

            <span class="throbber"></span>

        </div>

        <div class="form" ng-class="{ 'loading': loading }" ng-show="!isUnauthorized() && correlationMode">

            <h3>Correlation check between two datasets. Each array should contain at least 3 different numbers.</h3>

            <form>
                <fieldset>
                    <legend>
                        Enter 2 arrays of data of equal length
                    </legend>

                    <textarea placeholder="enter first array" ng-model="dataset1" ng-disabled="loading">

                    </textarea>

                    <textarea placeholder="enter second array" ng-model="dataset2" ng-disabled="loading">

                    </textarea>

                    <button
                            ng-disabled="loading"
                            ng-click="correlate()" ng-show="correlationMode">
                        Calculate
                    </button>
                </fieldset>
            </form>
            <button ng-click="enableAnalyzeMode()">
                Back
            </button>

            <span class="throbber"></span>

        </div>


        <div class="results" ng-show="!isUnauthorized()">

            <h2>
                Results
            </h2>
            <div ng-show="analyzeMode">
                <p>Average: {{ results.average }} </p>
                <p>Min: {{ results.min }} </p>
                <p>Max: {{ results.max }} </p>
                <p>Q1: {{ results.q1 }} </p>
                <p>Median: {{ results.median }} </p>
                <p>Q3: {{ results.q3 }} </p>
                <p>Outliers: {{ results.outliers }} </p>
            </div>
            <div ng-show="correlationMode">
                <p> {{ results.correlation }} </p>
            </div>

        </div>

    </div>

</div>